@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200|Raleway:500&display=swap");
$headerFont: "Poppins", sans-serif;
$offWhite: #fffbf9;
$tan: #eeaa7b;

$orange: #e37222;
$teal: #07889b;
$powder: #66b9bf;
//tan #eeaa7b
///////////////////
$contentFont: "Raleway", sans-serif;
body {
  background: $powder;
  .container {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .panel {
    background: $offWhite;
  }
}
.panel-heading {
  font-family: $headerFont;
  background: $tan;
  color: $offWhite;
}
.panel-block {
  padding: 0.5em 7em;
  p {
    font-family: $contentFont;
  }
  ul {
    width: 100%;
    a {
      font-family: $headerFont;
      color: $teal;
    }
    img {
      border-radius: 20px;
      margin-top: 20px;
    }
  }
  .box {
    width: 500px;
    height: 200px;
    overflow: auto;
    background: $offWhite;

    .subtitle {
      font-family: $headerFont;
      color: $teal;
    }
  }
  .textarea {
    background: $offWhite;
  }
  a {
    color: $offWhite;
    &:hover {
      color: $powder;
    }
  }
  .button {
    background-color: $tan;
    &:hover {
      color: $orange;
    }
  }
}
.links {
  padding: 20px;
}

@import "/bulma/sass/utilities/_all.sass";
